<h1>Catálogo de Clientes</h1>

<%= link_to( '+ Agregar Cliente', new_cliente_path, :class => "btn-action btn-primary") %>
<br />


<% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error no permitio", "errores no permitieron ") %> grabar los datos del cliente:</h2>

      <ul>
        <% @cliente.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<table id="tabla-rayada">
  <tr class="titulo">
    <th>Cliente</th>
    <th>Nombre</th>
    <th>GrupoEmp</th>
    <th>Contacto</th>
    <th>Telefono</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr class="lcliente">
    <td><%= cliente.cliente %></td>
    <td><%= cliente.nombre %></td>
    <td><%= cliente.grupo_id %></td>
    <td><%= cliente.contacto %></td>
    <td><%= cliente.telefono %></td>
    <td><%= cliente.email %></td>
    <td><%#= link_to 'Mostrar', cliente %></td>
    <td><span class="manage-list-notes do_not_print">(<%= link_to 'Editar', edit_cliente_path(cliente) %>  |
      <%= link_to 'Baja', cliente, method: :delete, data: { confirm: 'Está Seguro?' } %>)</span></td>
  </tr>
<% end %>
</table>

<br> <%= link_to 'Ir al Inicio', :controller => 'access' %>


