<h1>Listado de Clientes</h1>


<%= link_to 'Agregar Cliente', new_cliente_path %>
<br />
<br />

<table>
  <tr>
    <th>Cliente</th>
    <th>Nombre</th>
    <th>GrupoEmp</th>
    <th>Contacto</th>
    <th>Telefono</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.cliente %></td>
    <td><%= cliente.nombre %></td>
    <td><%= cliente.gruemp_id %></td>
    <td><%= cliente.contacto %></td>
    <td><%= cliente.telefono %></td>
    <td><%= cliente.email %></td>
    <td><%#= link_to 'Mostrar', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Baja', cliente, method: :delete, data: { confirm: 'Está Seguro?' } %></td>
  </tr>
<% end %>
</table>




