<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @cliente.cliente %>
</p>

<p>
  <b>Nombre:</b>
  <%= @cliente.nombre %>
</p>

<p>
  <b>Gruemp:</b>
  <%= @cliente.grupo_id %>
</p>

<p>
  <b>Contacto:</b>
  <%= @cliente.contacto %>
</p>

<p>
  <b>Telefono:</b>
  <%= @cliente.telefono %>
</p>

<p>
  <b>Email:</b>
  <%= @cliente.email %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
