<h1>Catálogo de Grupos Empresariales</h1>

<%= link_to 'Agregar Grupo', new_gruemp_path %>
<br />
<br />

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gruemps.each do |gruemp| %>
  <tr>
    <td><%= gruemp.nombre %></td>
    <td><%#= link_to 'Mostrar', gruemp %></td>
    <td><%= link_to 'Editar', edit_gruemp_path(gruemp) %></td>
    <td><%= link_to 'Baja', gruemp, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
  </tr>
<% end %>
</table>


<br> <%= link_to 'Ir al Inicio', :controller => 'access' %>