<%= form_for(@solicitud) do |f| %>
  <% if @solicitud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solicitud.errors.count, "error") %> no permitieron grabar los datos de la Solicitud:</h2>

      <ul>
      <% @solicitud.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cliente %>
    <%= f.collection_select(:cliente, Cliente.all, :cliente, :nombre, :prompt => ' ') %>
  </div>
  <div class="field">
    Impuesto Específico
    <%= f.collection_select(:impesp, Impesp.all, :impesp, :impesp, :prompt => ' ') %>
  </div>
  <div class="field">
    Inicia
    <%= f.text_field :per1_on, :class=>"txt" %>
  </div>
  <div class="field">
    Final
    <%= f.text_field :per2_on, :value => '11/08/2012', :class=>"txt" %>
  </div>
  <div class="field">
    <%= f.label :importe %>
    <%= f.number_field :importe, :class=>"txt" %>
  </div>
  <div class="field">
    <%= f.label :tramite %>
    <%= f.collection_select(:tramite, Tramite.all, :descripc, :tramite, :prompt => ' ') %>
  </div>

  <div class="field">
    Fecha de Ingreso
    <%= f.text_field :ingreso_on, :class=>"txt" %>
  </div>
  <div class="field">
    Fecha Estimada de Devolución
    <%= f.text_field :devest_on, :class=>"txt" %>
  </div>
  <div class="field">
    Socio
    <%= f.collection_select(:usu_socio, Usuario.all, :usuario, :nombrecompleto, :prompt => ' ', :class=>"txt") %>
  </div>
  <div class="field">
    Gerente
    <%= f.collection_select(:usu_gerente, Usuario.all, :usuario, :nombrecompleto, :prompt => ' ', :class=>"txt") %>
  </div>
  <div class="field">
    Senior
    <%= f.collection_select(:usu_senior, Usuario.all, :usuario, :nombrecompleto, :prompt => ' ', :class=>"txt") %>
  </div>
  <div class="field">
    Junior
    <%= f.collection_select(:usu_junior, Usuario.all, :usuario, :nombrecompleto, :prompt => ' ', :class=>"txt") %>
  </div>

    <div class="field">
      <%= f.label :honorarios %>
      <%= f.number_field :honorarios, :class=>"txt" %>
    </div>
    <div class="field">
      Factura
      <%= f.text_field :factura, :class=>"txt" %>
    </div>
    <div class="field">
      Facturado
      <%= f.text_field :factura_on, :class=>"txt" %>
    </div>
  <div class="actions">
    <%= f.submit :class => "btn-action btn-primary" %>
  </div>
<% end %>
