<%= form_for(@impesp) do |f| %>
  <% if @impesp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@impesp.errors.count, "error") %> no permitieron grabar ImpuestosEspeciales:</h2>

      <ul>
      <% @impesp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      Impuesto Especifico
      <%= f.text_field :impesp, :class=>"txt" %>
    </div>
    <div class="field">
      Impuesto Genérico
      <%= f.collection_select(:impgen_id, Impgen.all, :id, :impgen, :prompt => ' ', :class=>"txt") %>
      <%#= f.text_field :impgen %>
    </div>

  <div class="actions">
    <%= f.submit :class => "btn-action btn-primary" %>
  </div>
<% end %>
