<%= form_tag({:action => 'listado'}) do |f| %>
    <div class="field">
      Grupo Empresarial<br />
      <%= collection_select(:cliente, :gruemp_id, Gruemp.all, :id, :nombre, :prompt => ' ') %>

    </div>
    <div class="field">
      Cliente<br />
      <%= collection_select(:cliente, :cliente_id, Cliente.all, :cliente, :nombre, :prompt => ' ') %>
    </div>
<!--    <div class="field">
      Impuesto Específico<br />
      <%#= f.collection_select(:impesp, Impesp.all, :impesp, :impesp, :prompt => ' ') %>
      <%#= f.text_field :impesp %>
    </div>
    <div class="field">
      Inicia<br />
      <%#= f.text_field :per1_on %>
    </div>
    <div class="field">
      Final<br />
      <%#= f.text_field :per2_on, :value => '11/08/2012' %>
    </div>
    <div class="field">
      <%#= f.label :importe %><br />
      <%#= f.number_field :importe %>
    </div>
    <div class="field">
      <%#= f.label :tramite %><br />
      <%#= f.collection_select(:tramite, Tramite.all, :descripc, :tramite, :prompt => ' ') %>
      <%#= f.text_field :tramite_id %>
    </div>

    <div class="field">
      Fecha de Ingreso<br />
      <%#= f.text_field :ingreso_on %>
    </div>
    <div class="field">
      Fecha Estimada de Devolución<br />
      <%#= f.text_field :devest_on %>
    </div>-->






    <div class="field">
      Socio<br />
      <%= collection_select(:usu_socio, :usuario, Usuario.all, :usuario, :nombrecompleto, :prompt => ' ') %>
    </div>
    <div class="field">
      Gerente<br />
      <%= collection_select(:usu_gerente, :usuario, Usuario.all, :usuario, :nombrecompleto, :prompt => ' ') %>
    </div>
    <div class="field">
      Senior<br />
      <%= collection_select(:usu_senior, :usuario, Usuario.all, :usuario, :nombrecompleto, :prompt => ' ') %>
    </div>
    <div class="field">
      Junior<br />
      <%= collection_select(:usu_junior, :usuario, Usuario.all, :usuario, :nombrecompleto, :prompt => ' ') %>
    </div>

<!--    <div class="field">
      Honorarios<br />
      <%#= number_field_tag :honorarios %>
    </div>
    <div class="field">
      Factura<br />
      <%#= f.text_field :factura %>
    </div>
    <div class="field">
      Facturado<br />
      <%#= f.text_field :factura_on %>
    </div>-->
    <div class="field">
      <%= radio_button_tag 'ntipo', 1, true %> Todas
      <%= radio_button_tag 'ntipo', 2 %> Activas
      <%= radio_button_tag 'ntipo', 3 %> Concluidas
    </div>
    <div class="field">
      <%= radio_button_tag 'nfact', 1, true %> Todas
      <%= radio_button_tag 'nfact', 2 %> Facturadas
      <%= radio_button_tag 'nfact', 3 %> No Facturadas
    </div>
    <br>
    <br>
    <div class="actions">
      <%= submit_tag "Buscar Solicitudes", :class => "btn-action btn-primary" %>
    </div>
<% end %>