<h1>Catálogo de Personal</h1>

<%= link_to 'Agregar Empleado', new_usuario_path %>
<br />
<br />

<table>
  <tr>
    <th>Usuario</th>
    <th>Apellido Paterno</th>
    <th>Apellido Materno</th>
    <th>Nombre</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.usuario %></td>
    <td><%= usuario.apepat %></td>
    <td><%= usuario.apemat %></td>
    <td><%= usuario.nombre %></td>
    <td><%= usuario.email %></td>
    <td><%#= link_to 'Show', usuario %></td>
    <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Baja', usuario, method: :delete, data: { confirm: 'Está Seguro?' } %></td>
  </tr>
<% end %>
</table>


