<p id="notice"><%= notice %></p>

<p>
  <b>Usuario:</b>
  <%= @usuario.usuario %>
</p>

<p>
  <b>Apepat:</b>
  <%= @usuario.apepat %>
</p>

<p>
  <b>Apemat:</b>
  <%= @usuario.apemat %>
</p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Password:</b>
  <%= @usuario.password %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
