<%= form_for(@impgen) do |f| %>
  <% if @impgen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@impgen.errors.count, "error") %> no permitieron grabar los datos del Impuesto General:</h2>

      <ul>
      <% @impgen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :impgen %>
    <%= f.text_field :impgen, :class=>"txt" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn-action btn-primary" %>
  </div>
<% end %>
