<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Sistema de Administraci칩n de Devoluciones de Impuestos (SADI) | <%= @page_title || 'Admin Area' %></title>
    <meta name="author" content="Jesus Garcia">

    <%= javascript_include_tag 'application', :media => "all" %>
  </head>

  <body>
  <div id="sadi">
    <h1>Sistema de Administraci칩n de Devoluciones de Impuestos (SADI)</h1>
  </div>
    <div id="main">
      <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <header>
        <nav id="nav">
          <div class="wrapper">
            <ul class="nav-tabs">
              <li><%= link_to("Administraci칩n", {:controller => 'grupos'}, :class=> "current") %></li>
              <li><%= link_to("Reportes", :controller => 'reportes') %></li>
              <li class="nav-tab-right nav-user"><a href="/sadi/access/logout">Logout</a></li>
              <li class="nav-tab-right nav-help"><%= image_tag( "user.png", :height=>"40", :title=>"Usuario", :alt=>"Usuario", :width=>"32") %></li>
            </ul>
          </div>
        </nav>
        <nav id="sub-nav">
          <div class="wrapper">
            <ul class="sub-nav-tabs">
              <li><%= link_to("Grupos", {:controller => 'grupos'}, :class => params[:controller] == 'grupos'? 'current' : '') %></li>
              <li><%= link_to("Clientes", {:controller => 'clientes'}, :class => params[:controller] == 'clientes'? 'current' : '') %></li>
              <li><%= link_to("Personal", {:controller => 'usuarios'}, :class => params[:controller] == 'usuarios'? 'current' : '') %></li>
              <li><%= link_to("Impuestos y Tr치mites", {:controller => 'impesps'}) %></li>
              <li><%= link_to("Solicitudes", {:controller => 'solicituds'}, :class => params[:controller] == 'solicituds'? 'current' : '') %></li>
            </ul>
          </div>
        </nav>
      </header>
      <div id="main_content">
        <div class="content-wrapper">
            <%= yield %>
        </div>
      </div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; </p>
    </div>
  </body>
</html>
